@inherits System.Web.Mvc.WebViewPage
@using BasicIC.Models.Main.M03
@using System.Web.Mvc.Html


@{
    List<CustomerModel> customers = (List<CustomerModel>)ViewData["customers"];
}

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center-content">
    <h1>Customer</h1>
</div>

<div class="form">
    <form id="customerForm" action="@Url.Action("Create", "Customer")" method="post">
        <h2 id="label">Create New Customer</h2>
        <div>
            <input type="hidden" id="id" name="id">
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="0">Female</option>
                <option value="1">Male</option>
            </select>
        </div>
        <div>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
        </div>
        <div>
            <label for="account">Account Name:</label>
            <input type="text" id="account" name="account" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button id="updateButton" type="submit">Create Customer</button>
        </div>
        <div>
            <button id="clearButton" type="button" hidden="hidden">Clear</button>
        </div>
    </form>
</div>



<h2>Customer List</h2>
<div>
    <form id="searchForm" action="@Url.Action("Index", "Customer")" method="post">
        <input type="text" id="searchString" name="searchString" placeholder="Search by name">
        <button type="submit">Search</button>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var searchInput = $("#searchString");
        var listContainer = $(".list");

        searchInput.on("keyup", function () {
            updateCustomerList();
        });

        function updateCustomerList() {
            var searchString = searchInput.val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Index", "Customer")",
                data: { searchString: searchString },
                success: function (result) {
                    listContainer.html(result);
                },
                error: function () {
                    alert("An error occurred while updating the customer list.");
                }
            });
        }
    });
</script>


<div class="list">
    <div class="search-results">
        @Html.Partial("_SearchResults", customers)
    </div>
</div>

<div>
    <button id="updateButton" type="button">Create Customer</button>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var formFields = {
            id: $("#id"),
            name: $("#name"),
            gender: $("#gender"),
            phone: $("#phone"),
            account: $("#account"),
            password: $("#password")
        };

        var labelElement = $("#label");
        var updateButtonElement = $("#updateButton");
        var customerForm = $("#customerForm");

        $(".modify-button").on("click", function () {
            var customerData = $(this).data("customer");
            formFields.id.val(customerData.id);
            formFields.name.val(customerData.customer_name);
            formFields.gender.val(customerData.gender);
            formFields.phone.val(customerData.phone_number);
            formFields.account.val(customerData.account_name);
            formFields.password.val(customerData.password);
            labelElement.text("Customer Info");
            updateButtonElement.text("Update Customer");
            customerForm.attr("action", "@Url.Action("Update", "Customer")");
        });
    });
</script>



